@import './reset.css';

.hide-mobile {
    display: block;
}

.hide-desktop {
    display: none;
}

:root {
    --h1-size: 60px;
    --h2-size: 25px;
    --a-size: 18px;
    --p-size: 22px;
    --button-size: 23px;
    --button-min-width: 193px;
    --button-padding: 18px 30px;
    --section-padding-v: 100px;
    --article-padding-big: 150px;
    --article-padding-small: 60px;
    --article-max-width: 1024px;
    --header-padding: 25px;
    --logo-header-size: 40px;
    --logo-footer-size: 25px;
    --footer-size: 14px;
    --prime-text-padding: 150px;
    --features-margin-bottom: 30px;
    --features-flex-basis: calc(100% / 3);
    --features-title-size: 20px;
    --features-title-margin: 33px 0;
    --features-text-size: 16px;
    --features-text-margin: 10px;
    --features-svg-size: 45px;
    --features-svg-margin: 35px;
    --perspective: 2500px;
    --tilt-degrees: -30deg;
    --article-alone: {
        max-width: var(--article-max-width);
        padding: 0 var(--article-padding-small);
        text-align: center;
        width: 100%;

        & h1 {
            text-align: center;
        }
    }
}

header,
footer,
section {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    background: black;
}

header,
footer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: var(--header-padding);

    & .logo-container {
        & svg {
            height: var(--logo-footer-size);
            width: auto;
        }
    }

    & .menu {
        align-items: center;
        color: var(--text-color-grey);
        display: flex;
        font-size: var(--footer-size);
        justify-content: space-between;

        & .item {
            border-left: solid 1px var(--text-color-grey);
            padding: 0 10px;

            &:first-child {
                border: none;
            }

            & a {
                color: var(--text-color-grey);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

header {
    background: var(--grey-background);

    & .logo-container {
        & svg {
            height: var(--logo-header-size);
            width: auto;
        }
    }
}

section {
    background: var(--white-background);
    overflow: hidden;
    padding: var(--section-padding-v) 0;

    & h1,
    & h2,
    & h3,
    & h4 {
        margin-top: 0;
        color: var(--black);
    }

    &.odd {
        background: var(--blue-background);
        color: var(--text-color-white);

        & h1,
        & h2,
        & h3,
        & h4 {
            color: var(--text-color-white);
        }

        & a {
            color: var(--text-color-white);
        }
    }

    &.grey {
        background: var(--grey-background);
    }

    &.grey2 {
        background: var(--grey2-background);
    }
}

p {
    font-size: var(--p-size);
}

h1 {
    font-size: var(--h1-size);
    line-height: 75px;

    & p {
        font-size: var(--h1-size);
        margin: 0;
        padding: 0;
    }
}

h2 {
    font-size: var(--h2-size);
    font-weight: 300;
}

h1 + h2 {
    margin-top: -40px;
    margin-bottom: 30px;
}

a {
    color: var(--text-color-black);
    font-size: var(--a-size);
    font-weight: 100;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: center;

    & .button {
        margin: 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.button {
    background: var(--white-background);
    border: 1px solid var(--border-dark);
    color: var(--black);
    font-size: var(--button-size);
    min-width: var(--button-min-width);
    padding: var(--button-padding);
    text-align: center;
    text-decoration: none;
    width: auto;

    &.light {
        border: 1px solid var(--border-grey);
    }
}

article {
    width: 50%;
    padding: 0 var(--article-padding-big) 0 var(--article-padding-small);
    position: relative;

    &:only-child {
        @apply --article-alone;
    }

    & img {
        height: auto;
        width: 100%;
    }
}

aside {
    width: 50%;

    & img {
        height: auto;
        width: 100%;
    }

    & + article {
        padding: 0 var(--article-padding-small) 0 var(--article-padding-big);

        & .buttons {
            justify-content: flex-start;
        }
    }
}

.video {
    position: relative;
    z-index: 1;
}

.image.screen {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-left: -40px;
    margin-top: -40px;
    margin-right: -40px;
    overflow: hidden;
    position: absolute;
    width: auto;
    z-index: 0;

    & img {
        margin-top: -2px;
    }
}

[data-aos="tilt-up"] {
    transform-origin: bottom;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(var(--tilt-degrees));
    transition-property: transform, opacity;
    opacity: 0;

    &.aos-animate {
        transform: rotateX(0);
        opacity: 1;
    }
}

#prime {
    & #prime-image {
        perspective: var(--perspective);
        position: relative;
    }

    & .image {
        position: relative;
        z-index: 1;
    }

    & #prime-image-computer {
        position: relative;
        z-index: 1;
    }

    & #prime-image-screen {
        margin-top: 6%;
        position: absolute;
        width: 74%;
        height: 80%;
        z-index: 2;

        & video,
        & img {
            height: 100%;
            margin-left: -53%;
            width: auto;
        }
    }

    & #prime-image-logo {
        height: 90%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        z-index: 0;

        & svg {
            height: 100%;
            position: absolute;
            right: -10%;
            width: auto;
        }
    }
}

#features {
    & #features-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: var(--features-margin-bottom);

        & .feature {
            flex-basis: var(--features-flex-basis);
            flex-grow: 0;
            flex-shrink: 0;
            font-size: var(--features-title-size);
            margin: var(--features-title-margin);
            text-align: center;

            & strong {
                font-weight: 500;
            }

            & p {
                font-size: var(--features-text-size);
                font-weight: 100;
                margin-top: var(--features-text-margin);

                & a {
                    text-align: center;
                    text-decoration: none;
                }

                & svg {
                    display: inline;
                    margin: 0 20px;
                    height: 15px;
                    width: 15px;
                }
            }

            & > svg {
                display: block;
                height: var(--features-svg-size);
                margin-bottom: var(--features-svg-margin);
                margin-left: 50%;
                transform: translateX(-50%);
                width: var(--features-svg-size);
            }
        }
    }
}

#picture-in-picture {
    & #picture-text {
        margin-bottom: calc(-1 * var(--section-padding-v));
        perspective: var(--perspective);

        & h2 {
            margin-bottom: 150px;
        }

        & #picture-image-capture {
            margin-bottom: -26px;
            margin-top: -4px;
            overflow: hidden;

            & video,
            & img {
                width: 100%;
            }
        }
    }
}

#unique-features {
    & #unique-text h2 {
        max-width: 680px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    & .image video,
    & .image img {
        height: auto;
        margin: 50px auto -100px auto;
        width: 62%;
    }
}

#buy-it {
    & .buttons {
        margin-top: 60px;
    }
}

@media (width <= 1024px) {
    .hide-mobile {
        display: none;
    }

    .hide-desktop {
        display: block;
    }

    .hide-mobile + article {
        @apply --article-alone;

        & .buttons {
            justify-content: center;
        }
    }

    h1 {
        font-size: 40px;
        line-height: 50px;

        & p {
            font-size: 40px;
        }
    }

    h2 {
        font-size: 16px;
    }

    h1 + h2 {
        margin-top: -20px;
        margin-bottom: 10px;
    }

    a {
        font-size: 14px;
    }
    .button {
        font-size: 18px;
        min-width: 150px;
        padding: 10px 20px;
    }

    #unique-features {
        & #unique-text h2 {
            max-width: 450px;
        }
    }
}
